/* General Styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #FAFAFA;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.power_example {
    font-size: .7em;

}

header {
    background-color: #FF6F61;
    color: white;
    text-align: center;
    width: 100%;
    padding: 1em 0;
}
footer {
    background-color: #FF6F61;
    color: white;
    text-align: center;
    width: 100%;
    padding: 1em 0;

}

h1, h2 {
    margin: 0.5em 0;
    color: #FF6F61;
}

main {
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    margin: 20px 0;
}

label, input {
    display: block;
    width: 100%;
    margin: 10px 0;
}

input {
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
    font-size: 1em;
}

button {
    background-color: #FF6F61;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #E65550;
}

#results {
    margin-top: 20px;
}

p {
    font-size: 1.2em;
    color: #555;
}

/* Responsive Styles */
@media (max-width: 600px) {
    main {
        padding: 15px;
    }
}
